{% extends 'base.html.twig' %}

{% block body %}
    <h1>ContainerGroup list</h1>

    <table>
        <thead>
            <tr>
                <th>Groupid</th>
                <th>Containergrouplist</th>
                <th>Annexedgrouplist</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for containerGroup in containerGroups %}
            <tr>
                <td><a href="{{ path('containergroup_show', { 'id': containerGroup.id }) }}">{{ containerGroup.groupId }}</a></td>
                <td>{{ containerGroup.containergrouplist }}</td>
                <td>{{ containerGroup.annexedgrouplist }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('containergroup_show', { 'id': containerGroup.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('containergroup_edit', { 'id': containerGroup.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('containergroup_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
