{% extends 'base.html.twig' %}

{% block body %}
    <h1>ContainerGroup</h1>

    <table>
        <tbody>
            <tr>
                <th>Groupid</th>
                <td>{{ containerGroup.groupId }}</td>
            </tr>
            <tr>
                <th>Containergrouplist</th>
                <td>{{ containerGroup.containergrouplist }}</td>
            </tr>
            <tr>
                <th>Annexedgrouplist</th>
                <td>{{ containerGroup.annexedgrouplist }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('containergroup_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('containergroup_edit', { 'id': containerGroup.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
