{% extends 'base.html.twig' %}

{% block body %}
    <h1>Constraints list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Permissioncategoryid</th>
                <th>Prereqid</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Action</th>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for constraint in constraints %}
            <tr>
                <td><a href="{{ path('constraints_show', { 'id': constraint.id }) }}">{{ constraint.name }}</a></td>
                <td>{{ constraint.permissionCategoryId }}</td>
                <td>{{ constraint.prereqId }}</td>
                <td>{{ constraint.type }}</td>
                <td>{{ constraint.quantity }}</td>
                <td>{{ constraint.action }}</td>
                <td>{{ constraint.description }}</td>
                <td>{{ constraint.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('constraints_show', { 'id': constraint.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('constraints_edit', { 'id': constraint.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('constraints_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
