{% extends 'base.html.twig' %}

{% block body %}
    <h1>Constraints</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ constraint.name }}</td>
            </tr>
            <tr>
                <th>Permissioncategoryid</th>
                <td>{{ constraint.permissionCategoryId }}</td>
            </tr>
            <tr>
                <th>Prereqid</th>
                <td>{{ constraint.prereqId }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ constraint.type }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ constraint.quantity }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ constraint.action }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ constraint.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ constraint.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('constraints_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('constraints_edit', { 'id': constraint.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
