{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conferececategory list</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Parentid</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conferececategory in conferececategories %}
            <tr>
                <td><a href="{{ path('conferececategory_show', { 'id': conferececategory.id }) }}">{{ conferececategory.title }}</a></td>
                <td>{{ conferececategory.slug }}</td>
                <td>{{ conferececategory.description }}</td>
                <td>{{ conferececategory.parentId }}</td>
                <td>{{ conferececategory.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('conferececategory_show', { 'id': conferececategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('conferececategory_edit', { 'id': conferececategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conferececategory_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
