{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conferececategory</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ conferececategory.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ conferececategory.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ conferececategory.description }}</td>
            </tr>
            <tr>
                <th>Parentid</th>
                <td>{{ conferececategory.parentId }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ conferececategory.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conferececategory_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('conferececategory_edit', { 'id': conferececategory.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
