{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groups list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Tagid</th>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td><a href="{{ path('groups_show', { 'id': group.id }) }}">{{ group.name }}</a></td>
                <td>{{ group.tagId }}</td>
                <td>{{ group.description }}</td>
                <td>{{ group.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('groups_show', { 'id': group.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('groups_edit', { 'id': group.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('groups_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
