{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groups</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ group.name }}</td>
            </tr>
            <tr>
                <th>Tagid</th>
                <td>{{ group.tagId }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ group.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ group.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('groups_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('groups_edit', { 'id': group.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
