{% extends 'base.html.twig' %}

{% block body %}
    <h1>Course list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><a href="{{ path('course_show', { 'id': course.id }) }}">{{ course.name }}</a></td>
                <td>{{ course.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('course_show', { 'id': course.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('course_edit', { 'id': course.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('course_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
