{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventcategory list</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Parentid</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eventcategory in eventcategories %}
            <tr>
                <td><a href="{{ path('eventcategory_show', { 'id': eventcategory.id }) }}">{{ eventcategory.title }}</a></td>
                <td>{{ eventcategory.slug }}</td>
                <td>{{ eventcategory.description }}</td>
                <td>{{ eventcategory.parentId }}</td>
                <td>{{ eventcategory.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('eventcategory_show', { 'id': eventcategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('eventcategory_edit', { 'id': eventcategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventcategory_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
