{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventcategory</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ eventcategory.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ eventcategory.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ eventcategory.description }}</td>
            </tr>
            <tr>
                <th>Parentid</th>
                <td>{{ eventcategory.parentId }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ eventcategory.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventcategory_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('eventcategory_edit', { 'id': eventcategory.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
