{% extends 'base.html.twig' %}

{% block body %}
    <h1>Webinar list</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Status</th>
                <th>Publishedat</th>
                <th>Expiresat</th>
                <th>Imageurl</th>
                <th>Learninghours</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for webinar in webinars %}
            <tr>
                <td><a href="{{ path('webinar_show', { 'id': webinar.id }) }}">{{ webinar.title }}</a></td>
                <td>{{ webinar.slug }}</td>
                <td>{{ webinar.description }}</td>
                <td>{{ webinar.status }}</td>
                <td>{% if webinar.publishedAt %}{{ webinar.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if webinar.expiresAt %}{{ webinar.expiresAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ webinar.imageUrl }}</td>
                <td>{{ webinar.learningHours }}</td>
                <td>{{ webinar.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('webinar_show', { 'id': webinar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('webinar_edit', { 'id': webinar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('webinar_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
