{% extends 'base.html.twig' %}

{% block body %}
    <h1>Webinar</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ webinar.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ webinar.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ webinar.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ webinar.status }}</td>
            </tr>
            <tr>
                <th>Publishedat</th>
                <td>{% if webinar.publishedAt %}{{ webinar.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Expiresat</th>
                <td>{% if webinar.expiresAt %}{{ webinar.expiresAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Imageurl</th>
                <td>{{ webinar.imageUrl }}</td>
            </tr>
            <tr>
                <th>Learninghours</th>
                <td>{{ webinar.learningHours }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ webinar.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('webinar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('webinar_edit', { 'id': webinar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
