{% extends 'base.html.twig' %}

{% block body %}
    <h1>Phase list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for phase in phases %}
            <tr>
                <td><a href="{{ path('phase_show', { 'id': phase.id }) }}">{{ phase.name }}</a></td>
                <td>{{ phase.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('phase_show', { 'id': phase.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('phase_edit', { 'id': phase.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('phase_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
