{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typecategory list</h1>

    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Category</th>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typecategory in typecategories %}
            <tr>
                <td><a href="{{ path('typecategory_show', { 'id': typecategory.id }) }}">{{ typecategory.type }}</a></td>
                <td>{{ typecategory.category }}</td>
                <td>{{ typecategory.description }}</td>
                <td>{{ typecategory.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typecategory_show', { 'id': typecategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typecategory_edit', { 'id': typecategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typecategory_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
