{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typecategory</h1>

    <table>
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ typecategory.type }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ typecategory.category }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ typecategory.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ typecategory.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typecategory_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typecategory_edit', { 'id': typecategory.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
