{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gotowebinar list</h1>

    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Title</th>
                <th>Starttime</th>
                <th>Endtime</th>
                <th>Speakername</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gotowebinar in gotowebinars %}
            <tr>
                <td><a href="{{ path('gotowebinar_show', { 'id': gotowebinar.id }) }}">{{ gotowebinar.key }}</a></td>
                <td>{{ gotowebinar.title }}</td>
                <td>{% if gotowebinar.startTime %}{{ gotowebinar.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if gotowebinar.endTime %}{{ gotowebinar.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ gotowebinar.speakerName }}</td>
                <td>{{ gotowebinar.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gotowebinar_show', { 'id': gotowebinar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gotowebinar_edit', { 'id': gotowebinar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gotowebinar_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
