{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gotowebinar</h1>

    <table>
        <tbody>
            <tr>
                <th>Key</th>
                <td>{{ gotowebinar.key }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ gotowebinar.title }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{% if gotowebinar.startTime %}{{ gotowebinar.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{% if gotowebinar.endTime %}{{ gotowebinar.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Speakername</th>
                <td>{{ gotowebinar.speakerName }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ gotowebinar.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gotowebinar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('gotowebinar_edit', { 'id': gotowebinar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
