{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conference list</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Status</th>
                <th>Publishedat</th>
                <th>Expiresat</th>
                <th>Imageurl</th>
                <th>Date</th>
                <th>Location</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Country</th>
                <th>Hotelinfo</th>
                <th>Classroomtimes</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conference in conferences %}
            <tr>
                <td><a href="{{ path('conference_show', { 'id': conference.id }) }}">{{ conference.title }}</a></td>
                <td>{{ conference.slug }}</td>
                <td>{{ conference.description }}</td>
                <td>{{ conference.status }}</td>
                <td>{% if conference.publishedAt %}{{ conference.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if conference.expiresAt %}{{ conference.expiresAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ conference.imageUrl }}</td>
                <td>{% if conference.date %}{{ conference.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ conference.location }}</td>
                <td>{{ conference.phone }}</td>
                <td>{{ conference.address }}</td>
                <td>{{ conference.city }}</td>
                <td>{{ conference.state }}</td>
                <td>{{ conference.zip }}</td>
                <td>{{ conference.country }}</td>
                <td>{{ conference.hotelInfo }}</td>
                <td>{{ conference.classroomTimes }}</td>
                <td>{{ conference.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('conference_show', { 'id': conference.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('conference_edit', { 'id': conference.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conference_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
