{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conference</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ conference.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ conference.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ conference.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ conference.status }}</td>
            </tr>
            <tr>
                <th>Publishedat</th>
                <td>{% if conference.publishedAt %}{{ conference.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Expiresat</th>
                <td>{% if conference.expiresAt %}{{ conference.expiresAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Imageurl</th>
                <td>{{ conference.imageUrl }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if conference.date %}{{ conference.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ conference.location }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ conference.phone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ conference.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ conference.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ conference.state }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ conference.zip }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ conference.country }}</td>
            </tr>
            <tr>
                <th>Hotelinfo</th>
                <td>{{ conference.hotelInfo }}</td>
            </tr>
            <tr>
                <th>Classroomtimes</th>
                <td>{{ conference.classroomTimes }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ conference.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conference_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('conference_edit', { 'id': conference.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
