{% extends 'base.html.twig' %}

{% block body %}
    <h1>Webinarcategory list</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Parentid</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for webinarcategory in webinarcategories %}
            <tr>
                <td><a href="{{ path('webinarcategory_show', { 'id': webinarcategory.id }) }}">{{ webinarcategory.title }}</a></td>
                <td>{{ webinarcategory.slug }}</td>
                <td>{{ webinarcategory.description }}</td>
                <td>{{ webinarcategory.parentId }}</td>
                <td>{{ webinarcategory.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('webinarcategory_show', { 'id': webinarcategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('webinarcategory_edit', { 'id': webinarcategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('webinarcategory_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
