{% extends 'base.html.twig' %}

{% block body %}
    <h1>Webinarcategory</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ webinarcategory.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ webinarcategory.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ webinarcategory.description }}</td>
            </tr>
            <tr>
                <th>Parentid</th>
                <td>{{ webinarcategory.parentId }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ webinarcategory.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('webinarcategory_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('webinarcategory_edit', { 'id': webinarcategory.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
