{% extends 'base.html.twig' %}

{% block body %}
    <h1>Permission list</h1>

    <table>
        <thead>
            <tr>
                <th>Modulekey</th>
                <th>Objectid</th>
                <th>Tagid</th>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
            <tr>
                <td><a href="{{ path('permission_show', { 'id': permission.id }) }}">{{ permission.moduleKey }}</a></td>
                <td>{{ permission.objectId }}</td>
                <td>{{ permission.tagId }}</td>
                <td>{{ permission.description }}</td>
                <td>{{ permission.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('permission_show', { 'id': permission.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('permission_edit', { 'id': permission.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('permission_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
