{% extends 'base.html.twig' %}

{% block body %}
    <h1>Permission</h1>

    <table>
        <tbody>
            <tr>
                <th>Modulekey</th>
                <td>{{ permission.moduleKey }}</td>
            </tr>
            <tr>
                <th>Objectid</th>
                <td>{{ permission.objectId }}</td>
            </tr>
            <tr>
                <th>Tagid</th>
                <td>{{ permission.tagId }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ permission.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ permission.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('permission_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('permission_edit', { 'id': permission.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
