{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lesson list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td><a href="{{ path('lesson_show', { 'id': lesson.id }) }}">{{ lesson.name }}</a></td>
                <td>{{ lesson.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lesson_show', { 'id': lesson.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lesson_edit', { 'id': lesson.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lesson_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
