{% extends 'base.html.twig' %}

{% block body %}
    <h1>Program list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td><a href="{{ path('program_show', { 'id': program.id }) }}">{{ program.name }}</a></td>
                <td>{{ program.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('program_show', { 'id': program.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('program_edit', { 'id': program.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('program_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
